/*.flex-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    height: 100vh;
    align-content: baseline;
}*/
/*.flex-container{
    display: flex;
    height: 100vh;
    /*flex-flow: flex-direction,flex-wrap;*/
/*}
.flex-item{
    background: #248;
    color: #fff;
    margin: 5px;
    height: 100px;
    min-width: 120px;
    text-align: center;
    flex-grow: 1;
    /*width: 300px;*/
    /*flex-basis: 300px;*/
    /*flex: flex-grow,flex-shrink,flex-basis;*/
/*}
.red{
    background: #f00;
    flex-shrink: 2;
}
.green{
    background: #0f0;
}*/


body{
    background: #000;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #222;
    margin: 50px 30px;
    padding: 20px;
}
.form{
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #094;
    background: transparent;
    color: #fff;
}
.form__input:focus{
    background: linear-gradient(to bottom,transparent,#111);
    outline: none;
    border-bottom: 3px solid #5f9;
}
.form textarea{
    min-height: 140px;
    resize: none;
}
.form__input[type="submit"]{
    background: #094;
    border-bottom: none;
    padding: 12px;
}
.form__input[type="submit"]:hover{
    background: #072;
    border-bottom: none;
    padding: 12px;
}
.form__input[type="submit"]:focus{
    background: #094;
}
.form__input[type="submit"]:active{
    background: linear-gradient(to bottom,#072,#050);
}


.form-img{
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    order: 2;
}
.img-container{
    padding: 20px;
    margin: auto;
    
}
.img-container div{
    border-radius: 50%;
    background: #fff;
    text-align: center;
    padding: 40px;
}
/*.form-img div{
    padding: 10px;
    
}*/
.form-img img{
    width: 80%;
    margin: auto;
}